<!-- [CREDITS] ------------------------- 
Scarlet Koi - QEEL personnalisé pour ModernBB // Maquette par Sygea - Code par 'Christa Lostmindy
----
Merci de ne pas retirer les crédits présents dans ce code.
--------------------------------------
DEBUT DU CODE // template overall_footer_begin -->

<!-- BEGIN html_validation -->
<div>
	<div>
		<div>
			<div>

<div>
	<div>
		<div>
			<div>
				<div>
					<div>
						<div>
							<div>
<!-- END html_validation -->
							</div>
						</div>
					</div>
				</div>

				<div id="{ID_RIGHT}">
					<!-- BEGIN giefmod_index2 -->
					{giefmod_index2.MODVAR}
					<!-- BEGIN saut -->
					<div style="height:{SPACE_ROW}px"></div>
					<!-- END saut -->
					<!-- END giefmod_index2 -->
				</div>
			</div>
		</div>
	</div>
</div>
			</div>
		</div>
	</div>
</div>

<div class="sklmFoot">
    
    <div class="sklmQeelContent">
        <!-- BEGIN disable_viewonline -->

        <div class="sklmQeelHeader">
            <!-- BEGIN switch_viewonline_link -->
            <div class="sklmQeel_h1"><a href="{U_VIEWONLINE}" rel="nofollow"><i class="ion-stats-bars"></i>{L_WHO_IS_ONLINE}</a></div>
            <!-- END switch_viewonline_link -->

            <!-- BEGIN switch_viewonline_nolink -->
                <div class="sklmQeel_h1"><i class="ion-stats-bars"></i>{L_WHO_IS_ONLINE}</div>
            <!-- END switch_viewonline_nolink -->
        </div>
         
        <div class="sklmQeelMainData">
            <div class="sklmQeel_onlineStats js-tabs" data-tabs-prefix-class="qeelTabs">
                <ul class="sklmQeel_onlineTabs js-tablist" data-hx="h2">
                    <li class="js-tablist__item sklmQeel_onlineTab">
                        <a href="#online-now" class="js-tablist__link" title="Membres actuellement en ligne">
                            AJD
                        </a>
                    </li>
                    <li class="js-tablist__item sklmQeel_onlineTab">
                        <a href="#online-past" class="js-tablist__link" title="Membres connectés aux cours des dernières heures">
                            24H
                        </a>
                    </li>
                </ul>
                <div class="sklmQeel_onlineDataBlock sklmScrollbar">
                    <div id="online-now" class="js-tabcontent sklmQeel_onlineTabContent">
                        <h2>Utilisateurs enregistrés</h2>
                        <p>{TOTAL_USERS_ONLINE} </p>
                        <!-- {RECORD_USERS} -->
                        <p class="sklmQeel_connectes-liste">{LOGGED_IN_USER_LIST}</p>
                        <!-- {L_ONLINE_USERS} -->
                    </div>
                    <div id="online-past" class="js-tabcontent sklmQeel_onlineTabContent sklmScrollbar">
                        <h2>Membres connectés au cours des dernières heures</h2>
                        {L_CONNECTED_MEMBERS}
                    </div>
                </div> 
            </div>
    
            <div class="sklmQeel_lastMember">
                <div class="sklmQeel_lastMemberName" id="id_js_derniermembre">
                    <h2>Dernier Inscrit</h2>
                    {NEWEST_USER}
                </div>
                <div class="sklmQeel_lastMemberAva" id="id_js_derniermembre_avatar">
                    <!-- Zone qui contiendra l'avatar du dernier membre inscrit -->
                </div>
            </div>
            <div class="sklmQeel_forumStats" id="txtStatsQeel">
                <span>{TOTAL_USERS}</span>
                <span>{TOTAL_POSTS}</span>
            </div>
        </div>

        <div class="sklmQeelPartenaires">
            <h2 class="sklmQeel_h1 sklmQeelPartenaires_titre">Partenaires</h2>
            <ul class="sklmQeelPartenaires_liste">
                <!-- DEBUT: LISTE DES PARTENAIRES -->
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <li><a href="#" target="_blank"><img src="https://i.goopics.net/QeyOr.png" alt="Nom Partenaire" title="Description partenaire"></a></li>
                <!-- FIN: LISTE DES PARTENAIRES -->
            </ul>
        </div>
        
        <script type="text/javascript">
            /* SCRIPT REMPLACEMENT PHRASES DU QEEL */
            document.getElementById('txtStatsQeel').innerHTML=document.getElementById('txtStatsQeel').innerHTML.replace(/Nous avons/,"");
            document.getElementById('txtStatsQeel').innerHTML=document.getElementById('txtStatsQeel').innerHTML.replace(/membre(s?) enregistrés?/,"membre$1");
            document.getElementById('txtStatsQeel').innerHTML=document.getElementById('txtStatsQeel').innerHTML.replace(/Nos membres ont posté un total de/,"");
        </script>
        <script src="URL_SCRIPT_ONGLETS_SUR_VOTRE_FORUM"></script>

		<!-- END disable_viewonline -->
		

		<div id="sklm-page-footer">
			<div class="">
				<ul class="footerbar-system">
					<li class="footer-home">
						<a class="icon-home" href="{U_INDEX}" accesskey="h"><i class="ion-ios-home"></i>{L_HOME}</a>
					</li>
					<li class="sklm-footer-credits"><strong>Crédits index <i>Scarlet Koi</i> :</strong>
                        &nbsp;<a href="http://wooruru.forumactif.com/" target="_blank"><i class="ion-paintbrush"></i> Maquette par Sygea</a> 
                        &nbsp;<a href="https://github.com/Lostmindy/forumactif-index-theme-scarletkoi" target="_blank"><i class="ion-code"></i> Code par 'Christa Lostmindy</a> 
					</li>
					
					<li class="rightside">
	
<!-- BEGIN html_validation -->
					</li>
				</ul>
			</div>
		</div>
	</div><!-- /.sklmQeelContent -->
</div><!-- /.sklmFoot -->
<!-- END html_validation -->